<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dynamicsqllite">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:fullBackupContent="@xml/backup_config"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActSplash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ActPostList" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.ActDynamicList" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".map.ActMapActivity" android:theme="@style/AppTheme.NoActionBar"/>




        <!--for the facebook-->

        <activity android:name=".map.demo.fblogin.LoginActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".map.demo.fblogin.HomeActivity" android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>


<!--        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />-->

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1510475665716554"
            android:exported="true" />


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fbAppId" />

        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="Dynamic Sqllite"/>
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />



        <!--API-key-sample-demo-all-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDj4_YdP4WWE5LMnCcb2KzG0QLw8Zs3wHw"/>
    </application>

</manifest>