<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dynamicsqllite">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActSplash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ActPostList" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.ActDynamicList" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".map.ActMapActivity" android:theme="@style/AppTheme.NoActionBar"/>




        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--API-key-sample-demo-all-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDj4_YdP4WWE5LMnCcb2KzG0QLw8Zs3wHw"/>
    </application>

</manifest>